@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
  height: 100vh;
  overflow: hidden;
  font-size: 62.5%;
  box-sizing: border-box;
  width: 100vw;
}

body {

  font-family: "Roboto", sans-serif;
  color: #eee;
  background: radial-gradient(
    circle,
    rgba(35, 34, 41, 1) 51%,
    rgba(56, 59, 60, 1) 100%
  );
}

header {
  position: relative;
  height: 35vh;
}

main {
  height: 60vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 0.5rem solid rgb(122, 122, 122);
  border-radius: 1.5rem;
}

.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  border-radius: 1.5rem;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  border-radius: 2rem;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background: -webkit-linear-gradient(0deg, rgb(61, 68, 71), rgb(153, 210, 202));
  background: -moz-linear-gradient(0deg, rgb(61, 68, 71), rgb(153, 210, 202));
  background: linear-gradient(0deg, rgb(61, 68, 71), rgb(153, 210, 202));
  color: white;
  scale: 1.05;
}

.message {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: 500;
}

.label-score {
  margin-bottom: 2rem;
}

@media(width < 500px){
  h1{
    font-size: 35px;
  }
  .message{
    display: grid;
    justify-self: center;
  }
  .label-score{
    font-size: 0;
  }
  .label-highscore{
    font-size: 0;
  }
  main{
    width: 100vw;
    height: 58vh;
    justify-content: center;;
  }
  .again{
    font-size: 15px;
    font-weight: 500;
  }
  .btn.again{
    top: 1.5rem;
    height: 8vh;
    padding-top: 16px;
  }
  .between{
    margin: 12px;
  }
}
